html {
  height: 100%;
  width: 100%;
  margin: 0%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/images/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  margin: 10px;
  width: 100px;
  height: 40px;
}
/* .modal {
  height: 100%;
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade {
  height: 100%;
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  height: 100%;
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
